.flex_column_center_center, .descripcion, .textos_pg_proy, .contenedorImgSup, .imgProy, .seccion3, .textosSecc2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_center_column, .contenedoresFoot {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex_column, .header, .logoMobile {
  display: flex;
  flex-direction: column;
}

/* .descripcion  .imgProy  .textos_pg_proy .seccion3 .textosSecc2 .boton ##linkFoot .contenedoresFoot .contenedorSponsors*/
* {
  padding: 0px;
  margin: 0px;
}

.cuerpo {
  background-color: black;
}

img {
  max-width: 100%;
}

/* INICIO - Header */
.headerMobile {
  display: none;
}

.descripcion {
  display: none;
}

header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-areas: "logo none nav";
  background-color: black;
  position: absolute;
  z-index: 1;
  align-items: center;
}
header nav {
  grid-area: nav;
  justify-self: end;
}
header nav ul {
  display: flex;
  list-style: none;
}
header nav ul li {
  color: lightgray;
  font-weight: 200;
  padding-right: 30px;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  text-decoration: none;
}
header nav ul li:hover { /* Ojo a este que no aparece en el css*/
  transition: 1s;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.logo {
  grid-area: logo;
  width: 400px;
  height: auto;
}

/* FIN - Header */
/* INCIO - Footer */
.contenedoresFoot {
  margin-bottom: 10px;
}

.titulosFoot {
  font-size: 20px;
  color: gray;
}

.logoRedes {
  height: 50px;
  margin-left: 10px;
  margin-right: 10px;
}

.contenedorSponsors {
  display: flex;
  align-items: center;
}

.logoSponsors {
  width: 100px;
}

.foot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(21, 21, 21);
}

#linksFoot {
  display: flex;
  flex-direction: column;
  color: gray;
  align-items: center;
}

.navFootItem {
  text-decoration: none;
}

.titulosFoot {
  margin-bottom: 20px;
  margin-top: 10px;
}

/* FIN - Footer */
/* INICIO - Letras y Botones*/
.letras {
  color: white;
}

.h2 {
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
}

.h3 {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
}

.boton {
  width: 100px;
  height: 30px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.boton:hover {
  background: rgba(179, 179, 179, 0.587);
  color: white;
}

/* FIN - Letras y Botones*/
/* INICIO - Seccion 2 */
.seccion2 {
  display: grid;
  grid-template-areas: "texto1 texto1 img1" "img2 texto2 texto2" "texto3 texto3 img3";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
}

#imagenMitad1 {
  grid-area: img1;
  background-image: url(../imagenes/foto_marce/agua/3.jpg);
  background-size: cover;
  width: auto;
  height: 500px;
}

#texto1 {
  grid-area: texto1;
}

#imagenMitad2 {
  grid-area: img2;
  background-image: url(../imagenes/foto_marce/agua/4.jpg);
  background-size: cover;
  width: auto;
  height: 500px;
}

#texto2 {
  grid-area: texto2;
}

#imagenMitad3 {
  grid-area: img3;
  background-image: url(../imagenes/foto_marce/blanco_y_negro/2.jpg);
  background-size: cover;
  width: auto;
  height: 500px;
}

#texto3 {
  grid-area: texto3;
}

.img {
  width: 700px;
  height: auto;
}

#mitadPagTitulo {
  font-size: 30px;
}

#mitadPagSubTitulo {
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 21px;
}

/* FIN - Seccion 2 */
/* INICIO - Seccion 3 */
.seccion3 {
  background-image: url(../imagenes/foto_marce/desnudos/2.jpg);
  width: auto;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -250px;
}

.textosSecc3 {
  font-size: 40px;
}

/* FIN - Seccion 3 */
/* INICIO - Seccion 4 */
.seccionProy {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: auto;
  height: 450px;
  background-color: black;
  padding-bottom: 20px;
}

.imgProy {
  grid-column: 2/8;
  background-size: cover;
}

#proy1 {
  background-image: url(../imagenes/seccion_proy/1.jpg);
  margin-top: 30px;
}

#proy2 {
  background-image: url(../imagenes/seccion_proy/2.jpg);
}

#proy3 {
  background-image: url(../imagenes/seccion_proy/3.jpg);
}

#proy4 {
  background-image: url(../imagenes/seccion_proy/4.jpg);
}

#proy5 {
  background-image: url(../imagenes/seccion_proy/5.jpg);
  background-position: 0px -180px;
}

#proy6 {
  background-image: url(../imagenes/seccion_proy/6.jpg);
  background-position: 0px -200px;
}

/* FIN - Seccion 4 */
/* INICIO - Seccion 5 */
.seccion5 {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background-color: black;
}

.tituloSecc5 {
  justify-self: center;
}

.tituloSeccion {
  font-size: 50px;
}

.imagenesSecc5 {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 30px;
  margin-bottom: 30px;
}

.img_ig {
  width: 140px;
  height: auto;
}

#imgIG1 {
  grid-column: 2;
}

#imgIG2 {
  grid-column: 3;
}

#imgIG3 {
  grid-column: 4;
}

#imgIG4 {
  grid-column: 5;
}

#imgIG5 {
  grid-column: 6;
}

#imgIG6 {
  grid-column: 7;
}

#imgIG7 {
  grid-column: 8;
}

#imgIG8 {
  grid-column: 9;
}

.logoMobile { /*Logo de Ig que solo se ve en mobile*/
  display: none;
}

/* FIN - Seccion 5 */
/* INICIO - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/
.contenedorImgSup {
  height: 830px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}

/* FIN - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/
/* INICIO - PAGINA FOTOS*/
.imgTrenes {
  background-size: cover;
  width: auto;
  height: 300px;
}

#fotoTren1 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/1.jpg);
}

#fotoTren2 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/2.jpg);
}

#fotoTren3 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/3.jpg);
}

#fotoTren4 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/4.jpg);
}

#fotoTren5 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/5.jpg);
}

#fotoTren6 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/6.jpg);
}

#fotoTren7 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/7.jpg);
}

#fotoTren8 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/8.jpg);
}

#fotoTren9 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/13.jpg);
}

#contenedorImgSup5 {
  background-image: url(../imagenes/foto_marce/trenes/pagina_de_trenes/12.jpg);
  width: auto;
  height: 650px;
  background-size: cover;
}

/* FIN - PAGINA FOTOS*/
/* INICIO - PAGINA PROYECTOS*/
#contenedorImgSup4 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(173, 173, 173, 0)), url(../imagenes/foto_marce/blanco_y_negro/6.jpg);
  width: auto;
  height: 650px;
  background-size: cover;
}

.imagenes_pg_proy {
  width: auto;
  height: 600px;
  background-size: cover;
}

.textos_pg_proy {
  width: 600px;
  height: auto;
}

.titulos_pg_proy {
  font-size: 30px;
  letter-spacing: 10px;
}

.subtitulos_pg_proy {
  font-size: 20px;
}

.seccionProyectos {
  display: grid;
  grid-template-areas: "texto1 imagen1 imagen1" "imagen2 imagen2 texto2" "texto3 imagen3 imagen3" "imagen4 imagen4 texto4" "texto5 imagen5 imagen5" "imagen6 imagen6 texto6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-color: black;
}

#text1 {
  grid-area: texto1;
}

#text2 {
  grid-area: texto2;
}

#text3 {
  grid-area: texto3;
}

#text4 {
  grid-area: texto4;
}

#text5 {
  grid-area: texto5;
}

#text6 {
  grid-area: texto6;
}

#imagen1 {
  grid-area: imagen1;
  background-image: url(../imagenes/foto_marce/trenes/1.jpg);
}

#imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/foto_marce/agua/5.jpg);
}

#imagen3 {
  grid-area: imagen3;
  background-image: url(../imagenes/foto_marce/blanco_y_negro/7.jpg);
}

#imagen4 {
  grid-area: imagen4;
  background-image: url(../imagenes/foto_marce/desnudos/2.jpg);
}

#imagen5 {
  grid-area: imagen5;
  background-image: url(../imagenes/foto_marce/comidas/1.jpg);
}

#imagen6 {
  grid-area: imagen6;
  background-image: url(../imagenes/foto_marce/Institucional/1.jpg);
}

/* FIN - PAGINA PROYECTOS*/
/* INICIO - Propiedad para eliminar en vista mobile */
@media (max-width: 768px) {
  .eliminarEnMobile {
    display: none;
  }
  #eliminarEnMobile {
    display: none;
  }
}
/* INICIO - Propiedad para eliminar en vista mobile */
/* INICIO - Header Mobile */
.logoMobile {
  align-items: center;
  margin-bottom: 40px;
}

.header {
  position: static;
  background-color: black;
}

.listaLinksHead {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navs {
  margin-left: 30px;
  margin-right: 30px;
}

.descripcion {
  width: 100%;
  margin-top: 20px;
  background-color: black;
}

#imgSupTrenes {
  display: none;
}

.tituloMobile {
  font-size: 40px;
  padding-top: 10px;
}

.descripcionMobile {
  font-size: 25px;
  margin: 0px;
  padding-bottom: 10px;
}

/* FIN - Header Mobile */
/* Footer Mobile */
#foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding-top: 20px;
}

.linksFoot {
  display: flex;
}

.imgProy {
  grid-column: 1/10;
  background-size: cover;
}

/* Footer Mobile */
/* Index Mobile */
.seccion2 {
  display: grid;
  grid-template-areas: "texto1 texto1 texto1" "texto2 texto2 texto2" "texto3 texto3 texto3";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
}

.textosSecc2 {
  padding-top: 40px;
  width: auto;
  height: 400px;
  background-position-y: -180px;
  justify-content: center;
}

#texto1 {
  grid-area: texto1;
  background-image: url(../imagenes/foto_marce/agua/3.jpg);
  background-size: cover;
}

#texto2 {
  grid-area: texto2;
  background-image: url(../imagenes/foto_marce/agua/4.jpg);
  background-size: cover;
  background-position-y: -100px;
}

#texto3 {
  grid-area: texto3;
  background-image: url(../imagenes/foto_marce/blanco_y_negro/2.jpg);
  background-size: cover;
  background-position-y: -100px;
}

/* Index Mobile */
/* Proyectos Mobile */
#contenedorImgSup4 {
  display: none;
}

.seccionProyectos {
  display: grid;
  grid-template-areas: "imagen1 imagen1 imagen1" "texto1 texto1 texto1" "imagen2 imagen2 imagen2" "texto2 texto2 texto2" "imagen3 imagen3 imagen3" "texto3 texto3 texto3" "imagen4 imagen4 imagen4" "texto4 texto4 texto4" "imagen5 imagen5 imagen5" "texto5 texto5 texto5" "imagen6 imagen6 imagen6" "texto6 texto6 texto6";
  grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
}

#text1 {
  grid-area: texto1;
}

#text2 {
  grid-area: texto2;
}

#text3 {
  grid-area: texto3;
}

#text4 {
  grid-area: texto4;
}

#text5 {
  grid-area: texto5;
}

#text6 {
  grid-area: texto6;
}

#imagen1 {
  grid-area: imagen1;
  background-image: url(../imagenes/foto_marce/trenes/1.jpg);
}

#imagen2 {
  grid-area: imagen2;
  background-image: url(../imagenes/foto_marce/agua/5.jpg);
}

#imagen3 {
  grid-area: imagen3;
  background-image: url(../imagenes/foto_marce/blanco_y_negro/7.jpg);
}

#imagen4 {
  grid-area: imagen4;
  background-image: url(../imagenes/foto_marce/desnudos/2.jpg);
}

#imagen5 {
  grid-area: imagen5;
  background-image: url(../imagenes/foto_marce/comidas/1.jpg);
}

#imagen6 {
  grid-area: imagen6;
  background-image: url(../imagenes/foto_marce/Institucional/1.jpg);
}

.textos_pg_proy {
  width: auto;
}

/* Proyectos Mobile */

/*# sourceMappingURL=styles2.css.map */
