.flex_column_center_center, .textos_pg_proy, .contenedorImgSup, .imgProy, .seccion3, .textosSecc2, .boton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex_center_column, .contenedoresFoot {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

/* .descripcion  .imgProy  .textos_pg_proy .seccion3 .textosSecc2 .boton ##linkFoot .contenedoresFoot .contenedorSponsors*/
@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html {
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
}

.cuerpo {
  background-color: black;
}

img {
  max-width: 100%;
}

/* INICIO - Boton para subir */
.btn-scrolltop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 15px 20px;
  background: rgba(255, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 100%;
  cursor: pointer;
  transform: translateY(100px);
  transition: 0.3s;
  width: 100px;
  height: 100px;
}

.btn-scrolltop-on {
  transform: translateY(0);
}

/* FIN - Boton para subir */
/* INICIO - Header */
.headerMobile {
  display: none;
}

.descripcion {
  display: none;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

/* INICIO - Header Desktop y Mobile */
header {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.1764705882);
  width: 100%;
}

.logo {
  width: 400px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  padding-left: 80px;
}

.nav-list li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 35px;
  padding-left: 20px;
}

.abrir-menu,
.cerrar-menu {
  display: none;
}

@media screen and (max-width: 550px) {
  .abrir-menu,
  .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.25rem;
    background-color: transparent;
    cursor: pointer;
  }
  header {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    position: relative;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .logo {
    width: 300px;
  }
  .abrir-menu {
    color: #ffffff;
    padding-right: 20px;
  }
  .cerrar-menu {
    color: #ececec;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #1c1c1c;
    padding: 2rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
  .nav.visible {
    opacity: 1;
    visibility: visible;
  }
  .nav-list {
    flex-direction: column;
    align-items: end;
    background-color: #1c1c1c;
    padding-right: 10px;
    padding-bottom: 10px;
  }
  .nav-list li a {
    color: rgba(236, 236, 236, 0.9254901961);
  }
}
/* FIN - Header Desktop y Mobile */
.contenedoresFoot {
  margin-bottom: 10px;
}

.titulosFoot {
  font-size: 20px;
  color: gray;
}

.logoRedes {
  height: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.contenedorSponsors {
  display: flex;
  align-items: center;
}

.logoSponsors {
  width: 150px;
  padding-right: 10px;
}

.foot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(21, 21, 21);
}

#listaFoot {
  padding-top: 20px;
}

.listaLinksfoot1 {
  display: flex;
  color: gray;
  align-items: center;
  list-style: none;
}
.listaLinksfoot1 li {
  font-family: "Outfit", sans-serif;
  padding-right: 30px;
}
.listaLinksfoot1 li a {
  color: lightgray;
  text-decoration: none;
  font-size: 25px;
}

.navFootItem {
  text-decoration: none;
}

.titulosFoot {
  margin-bottom: 20px;
  margin-top: 10px;
}

.footerMobile {
  display: none;
}

/* FIN - Footer */
/* INICIO - Letras y Botones*/
.letras {
  color: white;
  font-size: 20px;
}

.h2, .titulos_pg_proy, .letrasImgSup, .descripcionLibro, .tituloLibro, #titulo-bajo-imagen, .titulosTercerSeccion, .textosSecc3, #mitadPagTitulo {
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
}

.h3, .tituloPremio, .descrpcionBlog, .subtitulos_pg_proy, .textoIntroductorio, .subTitulosTercerSeccion, .subLetrasImgSup, #mitadPagSubTitulo {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 30px;
  margin: 20px;
  font-weight: bold;
}

.boton {
  width: 100px;
  height: 30px;
  color: white;
  text-decoration: none;
  transition: 0.2s;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.boton:hover {
  background: rgba(179, 179, 179, 0.587);
  color: white;
}

/* FIN - Letras y Botones*/
/* INICIO - Seccion 2 */
.seccion2 {
  display: grid;
  grid-template-areas: "texto1 texto1 img1" "img2 texto2 texto2" "texto3 texto3 img3";
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  background-color: black;
}

#imagenMitad1 {
  grid-area: img1;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/agua/3.jpg);
  background-size: cover;
  width: 900px;
  height: 600px;
  background-position: 0px -250px;
}

#texto1 {
  grid-area: texto1;
}

#imagenMitad2 {
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/agua/4.jpg);
  background-size: cover;
  width: 900px;
  height: 600px;
  background-position: 0px -160px;
}

#texto2 {
  grid-area: texto2;
}

#imagenMitad3 {
  grid-area: img3;
  background-image: url(../../imagenes/foto_marce/blanco_y_negro/2.jpg);
  background-size: cover;
  width: 800px;
  height: 600px;
  background-position: 0px -160px;
}

#texto3 {
  grid-area: texto3;
}

.img {
  width: 700px;
  height: auto;
}

#mitadPagTitulo {
  font-size: 30px;
}

#mitadPagSubTitulo {
  color: white;
  font-size: 21px;
}

.textosSecc2 {
  text-align: center;
}

/* FIN - Seccion 2 */
/* INICIO - Seccion 3 */
.seccion3 {
  background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
  width: auto;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -250px;
}

.textosSecc3 {
  font-size: 40px;
}

/* FIN - Seccion 3 */
/* INICIO - Seccion 4 */
.seccionProy {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: auto;
  height: 450px;
  background-color: black;
  padding-bottom: 20px;
}

.titulo_proy_mobile {
  display: none;
}

.imgProy {
  grid-column: 2/8;
  background-size: cover;
}

#proy1 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/1.jpg);
  background-size: cover;
  margin-top: 30px;
  background-position: 0px -100px;
}

#proy2 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/2.jpg);
  background-size: cover;
  background-position: 0px -160px;
}

#proy3 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/3.jpg);
  background-size: cover;
  background-position: 0px -160px;
}

#proy4 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/4.jpg);
  background-size: cover;
}

#proy5 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/5.jpg);
  background-size: cover;
  background-position: 0px -180px;
}

#proy6 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/seccion_proy/6.jpg);
  background-size: cover;
  background-position: 0px -200px;
}

.titulosTercerSeccion {
  font-size: 40px;
}

.subTitulosTercerSeccion {
  font-size: 25px;
}

/* FIN - Seccion 4 */
/* INICIO - Seccion 5 */
.seccion5 {
  display: grid;
  grid-template-areas: "logoIgSeccion5" "fotosIgSeccion5";
  background-color: black;
}

.tituloSecc5 {
  justify-self: center;
  height: 100px;
}

.tituloSeccion {
  grid-area: logoIgSeccion5;
  font-size: 50px;
  color: white;
}

.imagenesSecc5 {
  grid-area: fotosIgSeccion5;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  column-gap: 30px;
  margin-bottom: 30px;
}

.img_ig {
  width: 140px;
  height: auto;
}

#imgIG1 {
  grid-column: 2;
}

#imgIG2 {
  grid-column: 3;
}

#imgIG3 {
  grid-column: 4;
}

#imgIG4 {
  grid-column: 5;
}

#imgIG5 {
  grid-column: 6;
}

#imgIG6 {
  grid-column: 7;
}

#imgIG7 {
  grid-column: 8;
}

#imgIG8 {
  grid-column: 9;
}

.logoMobile { /*Logo de Ig que solo se ve en mobile*/
  display: none;
}

/* FIN - Seccion 5 */
/* INICIO - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/
.contenedorImgSup {
  height: 830px;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  text-align: center;
}

/* FIN - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/
/* INICIO - PAGINA FOTOS DE FERROCARRILES*/
#contenedorImgSup5 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../imagenes/foto_marce/trenes/pagina_de_trenes/12.jpg);
  background-size: cover;
  background-position: 0px -400px;
}

.imgTrenes {
  background-size: cover;
  width: auto;
  height: 300px;
}

#fotoTren1 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/1.jpg);
}

#fotoTren2 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/2.jpg);
}

#fotoTren3 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/3.jpg);
}

#fotoTren4 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/4.jpg);
}

#fotoTren5 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/5.jpg);
}

#fotoTren6 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/6.jpg);
}

#fotoTren7 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/7.jpg);
}

#fotoTren8 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/8.jpg);
}

#fotoTren9 {
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/13.jpg);
}

/* FIN - PAGINA FOTOS DE FERROCARRILES*/
/* INICIO - LIBROS*/
#contenedorImgSup6 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../imagenes/foto_marce/blanco_y_negro/9.jpg);
  width: auto;
  height: 650px;
  background-position: -10px -360px;
  background-size: cover;
}

.textoIntroductorioProy {
  background-color: black;
}

#titulo-bajo-imagen {
  font-size: 35px;
  padding-left: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  letter-spacing: normal;
}

.textoIntroductorio {
  font-size: 20px;
  font-weight: 10;
  padding-bottom: 40px;
  padding-left: 20px;
  margin: 0px;
}

.libros {
  display: grid;
  background-color: black;
  grid-template-areas: "imgLibro1 texto1 texto1" "imgLibro2 texto2 texto2" "imgLibro3 texto3 texto3";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#fotolibro1 {
  grid-area: imgLibro1;
  background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/12.jpg);
  background-size: cover;
}

#fotolibro2 {
  grid-area: imgLibro2;
  background-image: url(../../imagenes/im_libro.jpg);
  background-size: cover;
}

#fotolibro3 {
  grid-area: imgLibro3;
  background-image: url(../../imagenes/im_libro.jpg);
  background-size: cover;
}

#textoLibro1 {
  grid-area: texto1;
}

#textoLibro2 {
  grid-area: texto2;
}

#textoLibro3 {
  grid-area: texto3;
}

.contTexto {
  display: flex;
  flex-direction: column;
  background-color: rgb(54, 54, 54);
  margin-right: 80px;
  margin-bottom: 80px;
}

.tituloLibro {
  font-size: 40px;
  letter-spacing: normal;
  font-weight: 500;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.descripcionLibro {
  font-size: 30px;
  letter-spacing: normal;
  line-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.fotoLibro {
  width: auto;
  height: 400px;
  background-size: cover;
  margin-bottom: 80px;
  margin-left: 40px;
}

/* FIN - LIBROS*/
/* INICIO - PAGINA PROYECTOS*/
#contenedorImgSup4 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../../imagenes/foto_marce/blanco_y_negro/6.jpg);
  width: auto;
  height: 650px;
  background-size: cover;
}

.imagenes_pg_proy {
  width: auto;
  height: 600px;
  background-size: cover;
}

.textos_pg_proy {
  width: 600px;
  height: auto;
}

.titulos_pg_proy {
  font-size: 30px;
  letter-spacing: 10px;
}

.subtitulos_pg_proy {
  font-size: 20px;
}

.seccionProyectos {
  display: grid;
  grid-template-areas: "texto1 imagen1 imagen1" "imagen2 imagen2 texto2" "texto3 imagen3 imagen3" "imagen4 imagen4 texto4" "texto5 imagen5 imagen5" "imagen6 imagen6 texto6";
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-color: black;
}

#text1 {
  grid-area: texto1;
}

#text2 {
  grid-area: texto2;
}

#text3 {
  grid-area: texto3;
}

#text4 {
  grid-area: texto4;
}

#text5 {
  grid-area: texto5;
}

#text6 {
  grid-area: texto6;
}

#imagen1 {
  grid-area: imagen1;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/trenes/1.jpg);
  background-size: cover;
}

#imagen2 {
  grid-area: imagen2;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/agua/5.jpg);
  background-size: cover;
  background-position: 0px -400px;
}

#imagen3 {
  grid-area: imagen3;
  background-image: url(../../imagenes/foto_marce/blanco_y_negro/7.jpg);
}

#imagen4 {
  grid-area: imagen4;
  background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
}

#imagen5 {
  grid-area: imagen5;
  background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/comidas/1.jpg);
  background-size: cover;
}

#imagen6 {
  grid-area: imagen6;
  background: linear-gradient(to left, rgb(0, 0, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0)), url(../../imagenes/foto_marce/Institucional/1.jpg);
  background-size: cover;
}

/* FIN - PAGINA PROYECTOS */
/* INICIO - BLOG */
#contenedorImgSup7 {
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../imagenes/foto_marce/blanco_y_negro/foto_marce3.jpg);
  width: auto;
  height: 650px;
  background-size: cover;
  background-position: -10px -360px;
}

.foto_descripcion {
  display: flex;
  background-color: black;
  padding-bottom: 40px;
}

.fotoBlog {
  width: auto;
  height: 400px;
  padding-top: 40px;
  padding-left: 40px;
}

.descrpcionBlog {
  color: white;
  padding-top: 40px;
  font-size: 23px;
  font-weight: 100;
}

.tituloPremios {
  background-color: black;
}

.tituloPremio {
  display: flex;
  justify-content: center;
  font-size: 80px;
  margin: 0px;
  background-color: rgb(54, 54, 54);
}

.premioAndDescripcion {
  padding-top: 20px;
}

.premioAndDescripcion {
  display: flex;
  padding-bottom: 20px;
}

.fotoPremios {
  width: auto;
  height: 300px;
}

.letrasImgSup {
  font-size: 40px;
  padding-left: 20px;
  padding-top: 40px;
  font-weight: 500;
}

.subLetrasImgSup {
  font-weight: 300;
}

/* FIN - BLOG */
/* INICIO - CONTACTO*/
#contenedorImgSup8 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../../imagenes/foto_marce/blanco_y_negro/8.jpg);
  width: auto;
  height: 650px;
  background-position: -10px;
  background-size: cover;
  background-position: 0px -100px;
}

.contactoFormulario {
  display: flex;
  background-color: black;
  align-items: center;
}

.contacto2 {
  display: flex;
  width: 50;
  height: 650px;
  flex-direction: column;
  padding-right: 50px;
  padding-left: 200px;
}

.tituloContacto {
  color: white;
  font-family: "Inter Tight", sans-serif;
  font-size: 40px;
  padding-top: 60px;
}

.descripcionBlog {
  color: white;
  font-family: "Outfit", sans-serif;
  font-size: 21px;
  margin-top: 20px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 200px;
}

.f1 {
  background-color: black;
  color: white;
  border-width: 2px;
  width: 500px;
  height: 50px;
  margin-bottom: 30px;
}

#f2 {
  height: 200px;
}

.botonf {
  width: 100px;
  height: 40px;
  background-color: black;
  color: white;
}

/* FIN - CONTACTO*/
/* MOBILE */
@media (max-width: 550px) {
  /* INICIO - Propiedad para eliminar en vista mobile */
  .eliminarEnMobile {
    display: none;
  }
  #eliminarEnMobile {
    display: none;
  }
  /* FIN - Propiedad para eliminar en vista mobile */
  /* INICIO - Titulo y descripcion Mobile */
  .descripcion {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: black;
  }
  #imgSupTrenes {
    display: none;
  }
  .tituloMobile {
    font-size: 40px;
    padding-top: 10px;
  }
  .descripcionMobile {
    font-size: 25px;
    margin: 0px;
    padding-bottom: 10px;
  }
  /* FIN - Titulo y descripcion Mobile */
  .seccion5 {
    display: grid;
    grid-template-areas: "instagram" "facebook";
  }
  #logoIgMobile {
    grid-area: instagram;
  }
  #logoFbMobile {
    grid-area: facebook;
  }
  /* Footer Mobile */
  titulosFooter {
    display: none;
  }
  .listaLinksfoot {
    display: flex;
    list-style: none;
    justify-content: space-between;
  }
  .listaLinksfoot li a {
    text-decoration: none;
    font-size: 30px;
  }
  .footerMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 50px;
  }
  .footerMobile nav ul {
    list-style: none;
    padding-left: 30px;
  }
  .footerMobile nav ul li {
    text-decoration: none;
  }
  .footerMobile nav ul li a {
    margin-right: 50px;
    color: lightgray;
  }
  /* Footer Mobile */
  /* INICIO - Index Mobile */
  #seccion2Mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
  }
  .textosSecc2 {
    padding-top: 40px;
    width: auto;
    height: 400px;
    background-position-y: -180px;
    justify-content: center;
  }
  #texto1 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../imagenes/foto_marce/agua/3.jpg);
    background-size: cover;
    background-position: 0px -120px;
  }
  #texto2 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../imagenes/foto_marce/agua/4.jpg);
    background-size: cover;
    background-position-y: -100px;
  }
  #texto3 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../imagenes/foto_marce/blanco_y_negro/2.jpg);
    background-size: cover;
    background-position-y: -100px;
  }
  #imagenMitad1 {
    display: none;
  }
  #imagenMitad2 {
    display: none;
  }
  .imgProy {
    grid-column: 1/10;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titulo_proy_mobile {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-top: 30px;
  }
  #font_titulo_proy_mobile {
    font-size: 40px;
    letter-spacing: 10px;
  }
  #proy1 {
    background-position: 0px 0px;
  }
  #proy2 {
    background-position: 0px 0px;
  }
  #proy3 {
    background-position: 0px 0px;
  }
  #proy5 {
    background-position: 0px 0px;
  }
  #proy6 {
    background-position: 0px 0px;
  }
  .logos_redes {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-items: center;
    align-items: center;
    padding-bottom: 20px;
    padding-top: 30px;
  }
  .logoMobile {
    display: block;
  }
  .img_redes {
    width: 500px;
  }
  /* FIN - Index Mobile */
  /* INICIO - Proyectos Mobile */
  #contenedorImgSup4 {
    display: none;
  }
  .descripcion {
    color: white;
  }
  .seccionProyectos {
    display: grid;
    grid-template-areas: "imagen1 imagen1 imagen1" "texto1 texto1 texto1" "imagen2 imagen2 imagen2" "texto2 texto2 texto2" "imagen3 imagen3 imagen3" "texto3 texto3 texto3" "imagen4 imagen4 imagen4" "texto4 texto4 texto4" "imagen5 imagen5 imagen5" "texto5 texto5 texto5" "imagen6 imagen6 imagen6" "texto6 texto6 texto6";
    grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: black;
  }
  #text1 {
    grid-area: texto1;
  }
  #text2 {
    grid-area: texto2;
  }
  #text3 {
    grid-area: texto3;
  }
  #text4 {
    grid-area: texto4;
  }
  #text5 {
    grid-area: texto5;
  }
  #text6 {
    grid-area: texto6;
  }
  #imagen1 {
    grid-area: imagen1;
    background-image: url(../../imagenes/foto_marce/trenes/1.jpg);
    background-position: -200px 0px;
  }
  #imagen2 {
    grid-area: imagen2;
    background-image: url(../../imagenes/foto_marce/agua/5.jpg);
    background-position: 0px 0px;
  }
  #imagen3 {
    grid-area: imagen3;
    background-image: url(../../imagenes/foto_marce/blanco_y_negro/7.jpg);
    background-position: -100px 0px;
  }
  #imagen4 {
    grid-area: imagen4;
    background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
    background-position: -250px 0px;
  }
  #imagen5 {
    grid-area: imagen5;
    background-image: url(../../imagenes/foto_marce/comidas/1.jpg);
  }
  #imagen6 {
    grid-area: imagen6;
    background-image: url(../../imagenes/foto_marce/Institucional/1.jpg);
  }
  .textos_pg_proy {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    background-color: black;
  }
  /* FIN - Proyectos Mobile */
  /* INICIO - Contacto Mobile */
  .contactoFormulario {
    display: flex;
    flex-direction: column;
  }
  .contacto2 {
    height: 250px;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: auto;
    height: auto;
    padding: 0px;
  }
  .formulario {
    margin: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  /* FIN - Contacto Mobile */
  /* INICIO - Libros Mobile */
  #titulo-bajo-imagen {
    text-align: center;
  }
  .textoIntroductorio {
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .libros {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .fotoLibro {
    width: auto;
    height: 400px;
    background-size: cover;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
  }
  .contTexto {
    display: flex;
    flex-direction: column;
    background-color: rgb(54, 54, 54);
    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
  }
  /* FIN - Libros Mobile */
  /* INICIO - BLOG */
  .foto_descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fotoBlog {
    padding-left: 0px;
  }
  .tituloPremio {
    font-size: 50px;
  }
  .premioAndDescripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .subLetrasImgSup {
    text-align: left;
  }
  /* FIN - BLOG */
}

/*# sourceMappingURL=styles2.css.map */
