$negro: black;
$gris_claro: lightgray;
$blanco: white;
$gris: gray;
$color_footer: rgb(21, 21, 21);
$color_boton_hover: rgba(179, 179, 179, 0.587);
$color-gradiente1: rgba(0, 0, 0, 0.4);
$color-gradiente2: rgba(173, 173, 173, 0);
