.flex_column_center_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_center_column{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.flex_column{
    display: flex;
    flex-direction: column;
}
/* .descripcion  .imgProy  .textos_pg_proy .seccion3 .textosSecc2 .boton ##linkFoot .contenedoresFoot .contenedorSponsors*/
