@import "colores";
@import "fuentes";
@import "mixins";
@import "extends";
@import "maps";



@keyframes aparecer {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}




*{
    padding: 0px;
    margin: 0px;
}

.cuerpo{
    background-color: $negro;
}
img{
    max-width: 100%;
}

/* INICIO - Header */

.headerMobile{
    display: map-get($mapa, nada)
}
.descripcion{
    display: map-get($mapa, nada)
}

header{

    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: 1;

    @include sizes_wh(100%,auto);
    display: grid;
    grid-template-areas:
    "logo none nav";
    position: absolute;
    z-index: 1;
    align-items: map-get($mapa, centro);
    nav{
        animation-duration: 1s;
        animation-name: aparecer;
        animation-iteration-count: 1;

        grid-area: nav;
        justify-self: end;
        padding-right: 100px;
        padding-top: 20px;
        
        ul{
            display: flex;
            list-style: map-get($mapa, nada);
            padding-left: 40px;
            li{
                font-weight: 200;
                font-family: $fuente_secundaria;
                font-size: 21px;
                a{
                    color: $gris_claro;
                    text-decoration: map-get($mapa, nada);
                    padding-right: 50px;
                    font-size: 30px;
                    &:hover{
                        transition: 1s;
                        color: $blanco;
                        font-size: 35px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}

.logo{
    grid-area: logo;
    @include sizes_wh(400px,auto);
}

/* FIN - Header */

/* INCIO - Footer */

.contenedoresFoot{
    @extend .flex_center_column;
    margin-bottom: 10px;
}

.titulosFoot{
    font-size: 20px;
    color: $gris;
}

.logoRedes{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
}

.contenedorSponsors{
    display: flex;
    align-items: map-get($mapa, centro);
}

.logoSponsors{
    width: 150px;
    padding-right: 10px;
}

.foot{
    display: map-get($mapa, grilla);
    grid-template-columns: repeat(4, 1fr);

    background-color: rgb(21, 21, 21);
}

#listaFoot{
    padding-top: 20px;
}

.listaLinksfoot1{
    display: flex;
    color: $gris;
    align-items: map-get($mapa, centro);
    list-style: map-get($mapa, nada);
    li{
        font-family: $fuente_secundaria;
        padding-right: 30px;
        a{
            color: $gris_claro;
            text-decoration: map-get($mapa, nada);
            font-size: 25px;
        }
    }
}


.navFootItem{
    text-decoration: map-get($mapa, nada);
}

.titulosFoot{
    margin-bottom: 20px;
    margin-top: 10px;
}

.footerMobile{
    display: none;
}
/* FIN - Footer */

/* INICIO - Letras y Botones*/

.letras{
    color: $blanco;
    font-size: 20px;
}

.h2{
    @include font_color_family_size($blanco, $fuente_principal, 60px);
    letter-spacing: 5px
}

.h3{
    @include font_color_family_size($blanco, $fuente_secundaria, 30px);
    margin: 20px;
    font-weight: bold;
}

.boton{
    @include sizes_wh(100px, 30px);
    color: $blanco;
    text-decoration: map-get($mapa, nada);
    transition: 0.2s;
    border: 2px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    @extend .flex_column_center_center;
    &:hover{
        background: $color_boton_hover;
        color: $blanco
    }
}

/* FIN - Letras y Botones*/

/* INICIO - Seccion 2 */

.seccion2{
    display: map-get($mapa, grilla);
    grid-template-areas: 
    "texto1 texto1 img1"
    "img2 texto2 texto2"
    "texto3 texto3 img3";
    @include filas(3);
    @include columnas(3);
    align-items: map-get($mapa, centro);
    background-color: $negro;
}

#imagenMitad1{
    grid-area: img1;
    background-image: url(../../imagenes/foto_marce/agua/3.jpg);
    background-size: map-get($mapa, cubrir);
    @include sizes_wh(auto, 500px);
}
#texto1{
    grid-area: texto1;
}

#imagenMitad2{
    grid-area: img2;
    background-image: url(../../imagenes/foto_marce/agua/4.jpg);
    background-size: map-get($mapa, cubrir);
    @include sizes_wh(auto, 500px);
}

#texto2{
    grid-area: texto2;
}

#imagenMitad3{
    grid-area: img3;
    background-image: url(../../imagenes/foto_marce/blanco_y_negro/2.jpg);
    background-size: map-get($mapa, cubrir);
    @include sizes_wh(auto, 500px);
}
#texto3{
    grid-area: texto3;
}

.img{
    @include sizes_wh(700px, auto);
}

#mitadPagTitulo{
    font-size: 30px;
    @extend .h2;
}
#mitadPagSubTitulo{
    color: $blanco;
    @extend .h3;
    font-size: 21px;
}

.textosSecc2{
    @extend .flex_column_center_center;
    text-align: center;
}
/* FIN - Seccion 2 */

/* INICIO - Seccion 3 */

.seccion3{
    background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
    @include sizes_wh(auto, 400px);
    background-size:map-get($mapa, cubrir);
    background-repeat: no-repeat;
    @extend .flex_column_center_center;
    background-position: 0px -250px;
}
.textosSecc3{
    font-size: 40px;
    @extend .h2;
}
.subLetrasImgSup{
    @extend .h3;
}
/* FIN - Seccion 3 */

/* INICIO - Seccion 4 */

.seccionProy{
    display: map-get($mapa, grilla);
    @include columnas(8);
    @include sizes_wh(auto, 450px);
    background-color: $negro;
    padding-bottom: 20px;
}
.imgProy{
    grid-column: 2/8;
    background-size: cover;

    @extend .flex_column_center_center;
}
#proy1{
    background-image: url(../../imagenes/seccion_proy/1.jpg);
    margin-top: 30px;

}
#proy2{
    background-image: url(../../imagenes/seccion_proy/2.jpg);

}
#proy3{
    background-image: url(../../imagenes/seccion_proy/3.jpg);

}
#proy4{
    background-image: url(../../imagenes/seccion_proy/4.jpg);

}
#proy5{
    background-image: url(../../imagenes/seccion_proy/5.jpg);

    background-position: 0px -180px;
}
#proy6{
    background-image: url(../../imagenes/seccion_proy/6.jpg);
    background-position: 0px -200px;
}

.titulosTercerSeccion{
    @extend .h2;
    font-size: 40px
}

.subTitulosTercerSeccion{
    @extend .h3;
    font-size: 25px;
}

/* FIN - Seccion 4 */

/* INICIO - Seccion 5 */

.seccion5{
    display: map-get($mapa, grilla);
    grid-template-areas:
     "logoIgSeccion5"
     "fotosIgSeccion5";
    background-color: $negro;
}
.tituloSecc5{
    justify-self: map-get($mapa, centro);
    height: 100px;
}
.tituloSeccion{
    grid-area: logoIgSeccion5;
    font-size: 50px;
    color: white;
}
.imagenesSecc5{
    grid-area: fotosIgSeccion5;
    display: map-get($mapa, grilla);
    @include columnas(10);
    column-gap: 30px;
    margin-bottom: 30px;
}
.img_ig{
    @include sizes_wh(140px, auto);
}
#imgIG1{
    grid-column: 2;
}
#imgIG2{
    grid-column: 3;
}
#imgIG3{
    grid-column: 4;
}
#imgIG4{
    grid-column: 5;
}
#imgIG5{
    grid-column: 6;
}
#imgIG6{
    grid-column: 7;
}
#imgIG7{
    grid-column: 8;
}
#imgIG8{
    grid-column: 9;
}
.logoMobile{          /*Logo de Ig que solo se ve en mobile*/
    display: map-get($mapa, nada);
}

/* FIN - Seccion 5 */

/* INICIO - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/

.contenedorImgSup{
    height: 830px;
    background-position: map-get($mapa, centro);
    background-repeat: map-get($mapa, nada);
    background-size: map-get($mapa, cubrir);
    text-align: map-get($mapa, centro);

    @extend .flex_column_center_center;
}

/* FIN - ATRIBUTOS CONTENEDORES DE IMAGENES SUPERIORES*/

/* INICIO - PAGINA FOTOS DE FERROCARRILES*/
    .imgTrenes{
        background-size: map-get($mapa, cubrir);
        @include sizes_wh(auto, 300px);
    }
    #fotoTren1{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/1.jpg); 
    }
    #fotoTren2{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/2.jpg);
    }
    #fotoTren3{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/3.jpg);
    }
    #fotoTren4{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/4.jpg);
    }
    #fotoTren5{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/5.jpg);
    }
    #fotoTren6{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/6.jpg);
    }
    #fotoTren7{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/7.jpg);
    }
    #fotoTren8{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/8.jpg);
    }
    #fotoTren9{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/13.jpg);
    }
    #contenedorImgSup5{
        background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/12.jpg);
        background-size: map-get($mapa, cubrir);
        @include sizes_wh(1400px, 700px);
    }
    
/* FIN - PAGINA FOTOS DE FERROCARRILES*/

/* INICIO - LIBROS*/

#contenedorImgSup6{
    background: linear-gradient($color-gradiente1,$color-gradiente1), url(../../imagenes/foto_marce/blanco_y_negro/9.jpg);
    @include sizes_wh(auto, 650px);
    background-position: -10px -360px;
    background-size: cover;
}

.textoIntroductorioProy{
    background-color: $negro;
}

#titulo-bajo-imagen{
    @extend .h2;
    font-size: 35px;

    padding-left: 20px;
    padding-top: 40px;
    padding-bottom: 20px;

    letter-spacing: normal
}

.textoIntroductorio{
    @extend .h3;
    font-size: 20px;
    font-weight: 10;
    padding-bottom: 40px;
    padding-left: 20px;
    margin: 0px;
}

.libros{
    display: map-get($mapa, grilla);
    background-color: $negro;
    grid-template-areas:
    "imgLibro1 texto1 texto1"
    "imgLibro2 texto2 texto2"
    "imgLibro3 texto3 texto3";
    @include columnas(3);
    @include filas(3);
}

#fotolibro1{
    grid-area: imgLibro1;
    background-image: url(../../imagenes/foto_marce/trenes/pagina_de_trenes/12.jpg);
    background-size: cover;
}
#fotolibro2{
    grid-area: imgLibro2;
    background-image: url(../../imagenes/im_libro.jpg);
    background-size: cover;
}
#fotolibro3{
    grid-area: imgLibro3;
    background-image: url(../../imagenes/im_libro.jpg);
    background-size: cover;
}

#textoLibro1{
    grid-area: texto1;
}
#textoLibro2{
    grid-area: texto2;
}
#textoLibro3{
    grid-area: texto3;
}

.contTexto{
    display: flex;
    flex-direction: column;
    background-color: $gris_oscuro;
    margin-right: 80px;
    margin-bottom: 80px;
}

.tituloLibro{
    @extend .h2;
    font-size: 40px;
    letter-spacing: normal;
    font-weight: 500;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}
.descripcionLibro{
    @extend .h2;
    font-size: 30px;
    letter-spacing: normal;
    line-height: 40px;
    

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.fotoLibro{
    @include sizes_wh(auto, 400px);
    background-size: cover;
    margin-bottom: 80px;
    margin-left: 40px;
}

/* FIN - LIBROS*/

/* INICIO - PAGINA PROYECTOS*/

#contenedorImgSup4{
    background: linear-gradient($color-gradiente1,$color-gradiente2), url(../../imagenes/foto_marce/blanco_y_negro/6.jpg);
    @include sizes_wh(auto, 650px);
    background-size: map-get($mapa, cubrir);
}
.letrasImgSup{
    @extend .h2;
}
.imagenes_pg_proy{
    @include sizes_wh(auto, 600px);
    background-size: map-get($mapa, cubrir);
}
.textos_pg_proy{
    @include sizes_wh(600px, auto);
    @extend .flex_column_center_center;
}
.titulos_pg_proy{
    font-size: 30px;
    letter-spacing: 10px;
    @extend .h2;
}
.subtitulos_pg_proy{
    font-size: 20px;
    @extend .h3;
}
.seccionProyectos{
    display: map-get($mapa, grilla);
    grid-template-areas: 
    "texto1 imagen1 imagen1"
    "imagen2 imagen2 texto2"
    "texto3 imagen3 imagen3"
    "imagen4 imagen4 texto4"
    "texto5 imagen5 imagen5"
    "imagen6 imagen6 texto6";
    @include columnas(3);
    @include filas(6);
    align-items: map-get($mapa, centro);
    background-color: $negro;
}
#text1{
    grid-area: texto1;
}
#text2{
    grid-area: texto2;
}
#text3{
    grid-area: texto3;
}
#text4{
    grid-area: texto4;
}
#text5{
    grid-area: texto5;
}
#text6{
    grid-area: texto6;
}
#imagen1{
    grid-area: imagen1;
    background-image: url(../../imagenes/foto_marce/trenes/1.jpg);
}
#imagen2{
    grid-area: imagen2;
    background-image: url(../../imagenes/foto_marce/agua/5.jpg);
}
#imagen3{
    grid-area: imagen3;
    background-image: url(../../imagenes/foto_marce/blanco_y_negro/7.jpg);
}
#imagen4{
    grid-area: imagen4;
    background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
}
#imagen5{
    grid-area: imagen5;
    background-image: url(../../imagenes/foto_marce/comidas/1.jpg);
}
#imagen6{
    grid-area: imagen6;
    background-image: url(../../imagenes/foto_marce/Institucional/1.jpg);
}

/* FIN - PAGINA PROYECTOS */

/* INICIO - BLOG */

#contenedorImgSup7{
    background-image: url(../../imagenes/foto_marce/blanco_y_negro/foto_marce3.jpg);
    @include sizes_wh(auto, 650px);
    background-size: cover;
    background-position: -10px -360px;
  }

.foto_descripcion{
    display: flex;
    background-color: $negro;
    padding-bottom: 40px;
}
.fotoBlog{
    @include sizes_wh(auto, 400px);
    padding-top: 40px;
    padding-left: 40px;
}
.descrpcionBlog{
    color: $blanco;
    padding-top: 40px;
    font-size: 23px;
    @extend .h3;
    font-weight: 100;

}


.tituloPremios{
    background-color: $negro
}
.tituloPremio{
    display: flex;
    justify-content: center;
    @extend .h3;
    font-size: 80px;
    margin: 0px;
    background-color: $gris_oscuro;
}

.premioAndDescripcion{
    padding-top: 20px;
}

.premioAndDescripcion{
    display: flex;
    padding-bottom: 20px
}

.fotoPremios{
    @include sizes_wh(auto, 300px);
}

.letrasImgSup{
    @extend .h2;
    font-size: 40px;
    padding-left: 20px;
    padding-top: 40px;
    font-weight: 500;
}

.subLetrasImgSup{
    @extend .h3;
    font-weight: 300;
}

/* FIN - BLOG */

/* INICIO - CONTACTO*/

#contenedorImgSup8{
    background: linear-gradient($color-gradiente1,$color-gradiente1), url(../../imagenes/foto_marce/blanco_y_negro/8.jpg);
    @include sizes_wh(auto, 650px);
    background-position: -10px;
    background-size: map-get($mapa, cubrir);
}
.contactoFormulario{
    display: flex;
    background-color: $negro;
    align-items: map-get($mapa, centro);
}
.contacto2{
    display: flex;
    @include sizes_wh(50, 650px);
    flex-direction: column;
    padding-right: 50px;
    padding-left: 200px;
}.tituloContacto{
    color: $blanco;
    font-family: $fuente_principal;
    font-size: 40px;
    padding-top: 60px;
}
.descripcionBlog{
    color: $blanco;
    font-family: $fuente_secundaria;
    font-size: 21px;
    margin-top: 20px;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: map-get($mapa, centro);
    margin-right: 200px;
}
.f1{
    background-color: $negro;
    color: $blanco;
    border-width: 2px;
    @include sizes_wh(500px, 50px);
    margin-bottom: 30px;
}
#f2{
    height: 200px;
}
.botonf{
    @include sizes_wh(100px, 40px);
    background-color: $negro;
    color: $blanco;
}

/* FIN - CONTACTO*/

/* MOBILE */

@media (max-width: 768px){

    /* INICIO - Propiedad para eliminar en vista mobile */

    .eliminarEnMobile{
        display: map-get($mapa, nada);
    }
    #eliminarEnMobile{
        display: map-get($mapa, nada);
    }

    /* FIN - Propiedad para eliminar en vista mobile */

    /* INICIO - Header Mobile */

    .logoMobile{
        display: flex;
        flex-direction: column;

        align-items: map-get($mapa, centro);
        margin-bottom: 40px;
    }
    .header{
        position: static;
        display: flex;
        flex-direction: column;
        background-color: $negro;
    }
    .listaLinksHead{
        padding-right: 0px;
        padding-top: 0px;

        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .listaLinks{
        display: flex;
        justify-content: space-between;
    }
    .navs{
        &:hover{
            transition: 0s;
            font-size: 30px;
            font-weight: 200;
        }
    }
    .descripcion{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        background-color: $negro;
    }
    #imgSupTrenes{
        display: map-get($mapa, nada);
    }
    .tituloMobile{
        font-size: 40px;
        padding-top: 10px;
    }
    .descripcionMobile{
        font-size: 25px;
        margin: 0px;
        padding-bottom: 10px;
    }

    .seccion5{
        display: grid;
        grid-template-areas: 
        "instagram"
        "facebook";
    }
    #logoIgMobile{
        grid-area: instagram;
    }
    #logoFbMobile{
        grid-area: facebook;
    }

    /* FIN - Header Mobile */

    /* Footer Mobile */

    titulosFooter{
        display: none;
    }

    .listaLinksfoot{
        display: flex;
        list-style: none;
        justify-content: space-between;
        li{
            a{
                text-decoration: none;
                font-size: 30px;
            }
        }
    }

    .footerMobile{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $negro;
        height: 50px;
        nav{
            ul{
                list-style: none;
                padding-left: 30px;
                li{
                    text-decoration: none;
                    a{
                        margin-right: 50px;
                        color: $gris_claro;
                    }
                }
            }
        }
    }

    /* Footer Mobile */

    /* Index Mobile */

    #seccion2Mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $negro;
    }
    .textosSecc2{
        padding-top: 40px;
        @include sizes_wh(auto, 400px);
        background-position-y: -180px;
        justify-content: map-get($mapa, centro);
    }
    #texto1{

        background-image: url(../../imagenes/foto_marce/agua/3.jpg);
        background-size: map-get($mapa, cubrir);
    }
    #texto2{

        background-image: url(../../imagenes/foto_marce/agua/4.jpg);
        background-size: map-get($mapa, cubrir);
        background-position-y: -100px;
    }
    #texto3{

        background-image: url(../../imagenes/foto_marce/blanco_y_negro/2.jpg);
        background-size: map-get($mapa, cubrir);
        background-position-y: -100px;
    }
    
    #imagenMitad1{
        display: none;
    }
    #imagenMitad2{
        display: none;
    }

    .imgProy{
        grid-column: 1/10;
        background-size: map-get($mapa, cubrir);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* Index Mobile */

    /* Proyectos Mobile */
    #contenedorImgSup4{
        display: map-get($mapa, nada);
    }

    .descripcion{
        color: $blanco;
    }

    .seccionProyectos{
        display: map-get($mapa, grilla);
        grid-template-areas: 
        "imagen1 imagen1 imagen1"
        "texto1 texto1 texto1"
        "imagen2 imagen2 imagen2"
        "texto2 texto2 texto2"
        "imagen3 imagen3 imagen3"
        "texto3 texto3 texto3"
        "imagen4 imagen4 imagen4"
        "texto4 texto4 texto4"
        "imagen5 imagen5 imagen5"
        "texto5 texto5 texto5"
        "imagen6 imagen6 imagen6"
        "texto6 texto6 texto6";
        
        grid-template-rows: 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr 1fr 0.5fr;
        @include columnas(3);
        align-items: map-get($mapa, centro);
        background-color: $negro;
    }
    #text1{
        grid-area: texto1;
    }
    #text2{
        grid-area: texto2;
    }
    #text3{
        grid-area: texto3;
    }
    #text4{
        grid-area: texto4;
    }
    #text5{
        grid-area: texto5;
    }
    #text6{
        grid-area: texto6;
    }
    #imagen1{
        grid-area: imagen1;
        background-image: url(../../imagenes/foto_marce/trenes/1.jpg);
    }
    #imagen2{
        grid-area: imagen2;
        background-image: url(../../imagenes/foto_marce/agua/5.jpg);
    }
    #imagen3{
        grid-area: imagen3;
        background-image: url(../../imagenes/foto_marce/blanco_y_negro/7.jpg);
    }
    #imagen4{
        grid-area: imagen4;
        background-image: url(../../imagenes/foto_marce/desnudos/2.jpg);
    }
    #imagen5{
        grid-area: imagen5;
        background-image: url(../../imagenes/foto_marce/comidas/1.jpg);
    }
    #imagen6{
        grid-area: imagen6;
        background-image: url(../../imagenes/foto_marce/Institucional/1.jpg);
    }

    .textos_pg_proy{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header{
        background-color: $negro;
    }

/* Proyectos Mobile */

/* INICIO - Contacto Mobile */

.contactoFormulario{
    display: grid;
    grid-template-areas: 
    "formilarioTexto"
    "formulario";
}
.contacto2{
    grid-area: formilarioTexto;
    height: 250px;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
}
.formulario{
    grid-area: formulario;
    margin-right: 0px;
    padding-left: 100px;
    padding-bottom: 50px;
}

/* FIN - Contacto Mobile */

/* INICIO - Libros Mobile */

#titulo-bajo-imagen{
    text-align: center;
}

.textoIntroductorio{
    font-size: 25px;
    padding-right: 20px;
    padding-left: 20px;
}

.libros{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fotoLibro{
    @include sizes_wh(auto, 400px);
    background-size: cover;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 0px;
}
.contTexto{
    display: flex;
    flex-direction: column;
    background-color: $gris_oscuro;

    padding-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 40px;

    justify-content: center;
    align-items: center;
}


/* FIN - Libros Mobile */
}




